<hr/>
<div class='description'>
<div class="contextual">
  <%= link_to 'Update', {:action => 'force_update', :controller => 'will_ship', :issue_id => @issue.id}, :class => 'icon icon-reload' %>
</div>
<p><strong>Shipped to</strong>
<% if @issue.shipped_targets.any? %>
  <i><%= time_tag(@issue.shipped_targets.last.updated_at) %></i>
<% end %>
</p>
<p>
  <% if @issue.shipped_targets.any? %>
    <ul>
      <% @issue.shipped_targets.each do |t| %>
        <% if t.shipped %>
          <li class="icon icon-shipped">
            <%= t.harbor.name %>
          </li>
        <% else %>
          <li class="icon icon-not-shipped">
            <%= t.harbor.name %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <blockquote>
      Not checked yet... Try to force update!
    </blockquote>
  <% end %>
</p>
</div>