<h2>Plugin misconfiguration</h2>
<p id="errorExplanation">You should define custom fields first!</p>
<p class="legend cal warning left">
<% @custom_fields_list.each do |cf|  %>
  <% unless CustomField.where(name: cf).any? %>
    &mdash; <%= cf %> is not defined!<br/>
  <% end %>
<% end %>
</p>